pandas
numpy
fastapi
uvicorn
pymupdf
python-docx
neo4j
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
openai
asyncpg
pydantic-settings

python-jose[cryptography]
email-validator
pydantic[email]
pypdf
pwdlib[argon2]

azure-storage-blob
qdrant-client
redis>=5,<6
pytest
